<%# avatar = current_user == message.user && session[:prof_pic].present? ? "/assets/mk#{session[:prof_pic]}" : "/assets/mk#{get_uniq_pic_id}" %>
<% avatar = "/assets/mk#{message.user.pic_id}" %>
<div class="comment">
  <a class="avatar">
    <%= image_tag avatar %>
  </a>
  <div class="content">
    <a class="author"><%= message.user.username %></a>
    <div class="metadata">
      <span class="date">Today at <%= message.created_at.localtime.strftime("%I:%M %p") %></span>
    </div>
    <div class="text message">
      <%= sanitize format_message(message.body) %>
    </div>
  </div>
</div>