<div class="eleven wide column">
  <div class="ui raised segment wrapper">
    <div class="ui comments">
      <h3 class="ui dividing header">Comments</h3>
      <%# if @messages.present? %>
        <%# @messages.each do |message| %>
          <%#= render "message", message: message %>
        <%# end %>
      <%# end %>
      <%= render @messages %>
    </div>
    <div class="ui bottom raised segment-wrapper">
      <%= render 'messages/form', message: @message %>
    </div>
  </div>
</div>