<% if notice %>
  <div class="ui success message">
  <p class="alert alert-success"><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="ui error message">
    <div class="header">
      Error!
    </div>
  <p class="alert alert-danger"><%= alert %></p>
  </div>
<% end %>

<script>
    setTimeout(function () {
        $('.alert')
            .closest('.message')
            .transition('fade')
        ;
    }, 2000);
</script>